body a {
	text-decoration: none;
	color: white;
}

body a:hover {
	color: #48CAE4;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
}

.upper {
	background-color: black;
	padding-bottom: 1vh;
	margin-bottom: 1vh;
}

.upper_title {
	padding-left: 10vw;
	padding-bottom: 3.5vh;
}

.organise {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	background-color: black;
	margin: none;
	padding: none;
}

.artist_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.artist_image {
	height: 170px;
	width: 150px;
	border-radius: 5px;
	background-color: grey;
}

#artist_photo {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.default_icon {
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-user {
	/* height: 100%;
	width: 100%; */
	font-size: 5rem;

}

.lower {
	margin-top: 5vh;
}

.lower_title {
	padding-left: 10vw;
	padding-bottom: 4vh;
}

.lower_content {
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
	margin-left: 98px;
	margin-right: 98px;
}

.lower_content::-webkit-scrollbar {
	display: none;
}

.album_container {
	margin-left: 1.7em;
}

.album_container:hover, .lower_text:hover {
	cursor: pointer;
	background-color: #48CAE4;
}

.lower_size {
	background-color: grey;
	display: flex;
	width: 250px;
	height: 120px;
	border-radius: 5px;
}

.lower_image {
	border-radius: 5px 0 0 5px;
	/* height: 125px; */
	width: 125px;
	background-color: grey;
}

#album_art {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px 0 0 5px;
}

.lower_text {
	border-radius: 0 5px 5px 0;
	height: 120px;
	width: 125px;
	background-color: rgb(224, 224, 224);
	align-items: center;
	display: flex;
	flex-direction: column;
}

#album_year {
	padding-top: 1em;
}

.lower_text_more {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 5px 5px 0;
	color: black;
	width: 125px;
	height: 120px;
	background-color: rgb(224, 224, 224);
}

.lower_text p {
	color: black;
	margin: 0;
}

.for_center {
	padding-top: 3.7vh;
}
