{% extends "app_layout.html" %} {% block title %} Home {% endblock %} {% block
head %}
<link rel="stylesheet" href="../static/css/home.css" />

{% endblock %} {% block page_title %}
<h1>Home</h1>
{% endblock %} {% block body %}
<div class="home">
	<div class="upper">
		<div class="upper_title">
			<h3>Top Artists</h3>
		</div>
		<div class="upper_content">
			{% if top_artists %}
			<ul class="organise">
				{% for top_artist in top_artists %}
				<li class="list_item">
					<a href="{{ url_for('user', user_id=top_artist.USER_ID ) }}">
						<div class="artist_info">
							<div class="artist_image">
								{% if top_artist.USER_PHOTO is not none %}
								<img
									id="artist_photo"
									src="{{ top_artist.USER_PHOTO }}"
									alt=""
								/>
								{% else %}
								<div class="default_icon">
									<i class="fa-solid fa-user"></i>
								</div>
								{% endif %}
							</div>
							<div class="artist_name">{{ top_artist.NAME }}</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<h1>No top artists yet</h1>
			{% endif %}
		</div>
	</div>
	<div class="lower">
		<div class="lower_title">
			<h3>Latest Music</h3>
		</div>
		<div class="lower_content">
			{% for album in latest_albums %}

			<a href="#">
				<div class="liked_songs lower_size album_container">
					<div class="lower_image">
						<img
							id="album_art"
							src="{{ album.ALBUM_PHOTO }}"
							alt="album photo"
						/>
					</div>
					<div class="lower_text">
						<p class="for_center">{{ album.ALBUM_NAME }}</p>
						<p id="album_year">{{ album.ALBUM_YEAR }}</p>
					</div>
				</div>
			</a>
			{% endfor %}
			{% for album in latest_albums %}

			<a href="#">
				<div class="liked_songs lower_size album_container">
					<div class="lower_image">
						<img
							id="album_art"
							src="{{ album.ALBUM_PHOTO }}"
							alt="album photo"
						/>
					</div>
					<div class="lower_text">
						<p class="for_center">{{ album.ALBUM_NAME }}</p>
						<p id="album_year">{{ album.ALBUM_YEAR }}</p>
					</div>
				</div>
			</a>
			{% endfor %}
			{% for album in latest_albums %}

			<a href="#">
				<div class="liked_songs lower_size album_container">
					<div class="lower_image">
						<img
							id="album_art"
							src="{{ album.ALBUM_PHOTO }}"
							alt="album photo"
						/>
					</div>
					<div class="lower_text">
						<p class="for_center">{{ album.ALBUM_NAME }}</p>
						<p id="album_year">{{ album.ALBUM_YEAR }}</p>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
