{% extends "app_layout.html" %} {% block title %} User Library {% endblock %} {%
block head %}
<link rel="stylesheet" href="../static/css/user.css" />
{% endblock %} {% block page_title %}

<h1>Welcome, {{ user.NAME }}</h1>

{% endblock %} {% block body %}
<div class="wrapper">
	<div class="user_details">
		{% if (user.USER_PHOTO) is not none %}
		<div class="show_image">Image here</div>
		{% else %}
		<!-- <div class="show_image"><i class="fa-solid fa-xmark"></i></div> -->
		<div class="show_image"><i class="fa-solid fa-user"></i></div>
		{% endif %}
		<div class="show_details">
			<div class="songs_count">
				<p>Songs: #count</p>
				<p>Playlists: #count</p>
			</div>
			<div class="followers_count">
				<p>Followers: {{ user.FOLLOWERS }}</p>
				<p>Following: {{ user.FOLLOWING }}</p>
			</div>
		</div>
	</div>
	<div class="bottom_half">
		<div class="release">
			<a href="{{ url_for('create_album') }}">
				<div class="release_album button btn btn-secondary" type="button">
					Release album
				</div>
			</a>
			<a href="{{ url_for('create_playlist') }}">
				<div class="create_playlist button btn btn-secondary" type="button">
					Create playlist
				</div>
			</a>
		</div>
		<div class="show_playlists scroll">
			<ul class="list">
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
				<li class="item_style">
					<div class="list_image">Image here</div>
					<div class="list_data">
						<p>Song name</p>
						<p>Duration</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
